{#=====================================================
Things list page
- List of things passed in as 'things' array
- Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

Flask Demo - All Things

{% endblock %}


{% block content %}

<h1 id="title">Weapons</h1>


<article class="handguns-list">
    <h1>Handguns</h1>
    <table>
        <tr>
            {% for weapon in weapons %}
            <td class="weapon-cell pico">
                <a href="/weapon/{{ weapon.id }}">
                    {{ weapon.name }}<br>
                    <img src="{{ weapon.image }}" alt="{{ weapon.name }}" class="weapon-image">
                </a>
            </td>
            {% endfor %}
        </tr>
    </table>

</article>

{% endblock %}