{#=====================================================
Base template
- Used as the basis of all pages
- Uses a light colour theme by default
- Provides a main heading and navigation menu
- Has blocks for the page title and main content
- Loads PicoCSS and Pico Colours
- Loads a user stylesheet
- Loads JS utility functions
- Includes block for flash messages
=====================================================#}

<!DOCTYPE html>

<html lang="en" data-theme="light">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#ffffff">

    <link rel="icon" href="/static/images/icon.svg">

    <title>{% block title %}{% endblock %}</title>

    <script src="/static/js/utils.js"></script>
    <script src="/static/js/script.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.conditional.red.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">

</head>

<body>



    <header id="main-nav" class="pico">
        <nav class="pico">
            <ul>
                <li><strong><a href="/">Lazarus codex</a></strong></li>
            </ul>

            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/weapons">Weapons</a></li>
                <li><a href="/calculators">Calculators</a></li>
                <li><a href="/perks">Perks</a></li>
            </ul>
        </nav>
    </header>


    <main>

        {% block content %}

        {% endblock %}

    </main>

    <footer class="pico">
        <p>&copy; {{ 2025 }} Lazarus Codex. All rights reserved.</p>
        <p>
            <a href="/home">Home</a> |
            <a href="/weapons">Weapons</a> |
            <a href="/calculators">Calculators</a> |
            <a href="/perks">Perks</a>

        </p>
    </footer>


    {# Show debug info. Comment this out if not needed #}
    {# {% include "components/debug.jinja" %} #}

</body>

</html>