{#=====================================================
Home page
- Hero style greeting banner
- List of things passed in as 'things' array
- Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

Lazarus Codex

{% endblock %}


{% block content %}
<div class="hero-image-home pico" role="banner">
  <div class="hero-text-home">
    <h1>Lazarus codex</h1>
    <a href="https://www.roblox.com/games/443406476/Project-Lazarus-ZOMBIES" role="button" target="blank" class="pico">Play Project
    lazarus</a>
  </div>
</div>

<div class="generic-separator" id="hero-image-separator"></div>


<container class="welcome-container">
  <h2>Welcome to the Lazarus Codex</h2>
  <p>This website was made to document all weapons, perks, and other items in the game Project Lazarus on Roblox.</p>
  <p>Project Lazarus: Zombies is a wave-based first-person survival shooter based on the game mode from Call of Duty. The goal is to use a wide assortment of weapons to survive increasingly difficult waves of undead zombies.</p>
  <p>Feel free to explore the various sections of the codex to learn more about the game.</p>
  <img src="/static/images/lazarus_codex_logo.png" alt="Lazarus Codex " >
</container>



{% endblock %}