{#=====================================================
Home page
- Hero style greeting banner
- List of things passed in as 'things' array
- Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

Lazarus Codex

{% endblock %}


{% block content %}
<div class="hero-image-home pico" role="banner">
  <div class="hero-text-home">
    <h1>Lazarus codex</h1>
    <a href="https://www.roblox.com/games/443406476/Project-Lazarus-ZOMBIES" role="button" target="blank" class="pico">Play Project
    lazarus</a>
  </div>
</div>

<div class="generic-separator" id="hero-image-separator"></div>

<container class="welcome-container">
  <container class="welcome-container-text">
    <h2 class="paragraph-title">Welcome to the Lazarus Codex</h2>
    <p>This website was made to document all weapons, perks, and other items in the game Project Lazarus on Roblox.</p>
    <p>Project Lazarus: Zombies is a wave-based first-person survival shooter based on the game mode from Call of Duty. The goal is to use a wide assortment of weapons to survive increasingly difficult waves of undead zombies.</p>
    <p>As players fight they earn points that can be spent to help them survive and fight the zombie hordes. Players can purchase weapons by buying them off walls around the map or through the Mystery Box. They can also use their points to buy perks that benefits or upgrade weapons using the Pack-a-Punch machine. </p>
    <p>Feel free to explore the various sections of the codex to learn more about the game.</p>
  
  </container>
    <img src="/static/images/project-lazarus-logo.png" alt="Lazarus Codex" class="paragraphImage">
</container>

<div class="generic-separator" id="loop-separator"></div>

<container class="loop-container">
  <img src="/static/images/homeLoopImage.png" alt="Some zombies" class="paragraphImage">
  <container class="loop-container-text">
    <h2 class="paragraph-title">The gameplay</h2>
    <p>In project Lazarus you fight an endless, wave based hoard of zombies whose health increases as waves go on.</p>
    <p>To combat the undead flood you can purchase a huge variety of different guns that will let you hold the lines.</p>
    <p>Eventually you will have enough money to buy some perks which are buffs that will greatly aid your cause</p>
    <p>Once you get enough money you will be able to place your guns into the pack-a-punch machine which upgrades your guns to the next level</p>
    <p>Project Lazarus is a co-op game, get your friends on for some zombie slaying fun. If you die alone the match ends but with friends if one goes down you can revive each  other which makes for some epic moments that will go down in history.</p>
  </container>
</container>

<div class="generic-separator" id="links-separator"></div>

<h2 class="paragraph-title">Now go play or explore the rest of this page</h2>
<container class="links-container">
  <a class="image-link" id="weapons-image-link" href="/weapons">
    <img src="/static/images/weaponsLink.png" alt="Weapons">
  </a>
  <a class="image-link" id="calculators-image-link" href="/calculator">
    <img src="/static/images/calculatorLink.png" alt="Calculators">
  </a>
  <a class="image-link" id="perks-image-link" href="/perks">
    <img src="/static/images/perksLink.png" alt="Perks">
  </a>
</container>


{% endblock %}