{#=====================================================
Thing page
- Shows details of a single thing
- Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

{{ weapon.name }}

{% endblock %}


{% block content %}

<article class="weapon-details">

    <header>
        <h1 id="title">{{ weapon.name }}</h1>
    </header>

    <p>Price: <strong>${{ weapon.price }}</strong></p>
    <p>Magazine Size: <strong>{{ weapon.magazineSize }}</strong></p>
    <p>Total Ammo: <strong>{{ weapon.totalAmmo }}</strong></p>
    <p>Damage: <strong>{{ weapon.damage }}</strong></p>
    <p>RPM: <strong>{{ weapon.rpm }}</strong></p>
    <p>Notes: <strong>{{ weapon.notes }}</strong></p>
    <p>This gun {{ gamepass }} from a gamepass</p>

    {% if weapon.image %}
    <img src="{{ weapon.image }}" alt="{{ weapon.name }}" class="weapon-image">
    {% else %}
    <p>No image available</p>
    {% endif %}



</article>

<container id="button-container">
    <a id="button" href="/weapons">Back to weapon List</a>
</container>
{% endblock %}